#header{
    background-color: #343434;
    color: white;
    text-align: center;
    padding: 0;
}
#header .navbar-brand{
    color: white;
}
#header-2{
    background-color: rgba(255, 255, 255, 0.753);
    padding: 2%;
}
#yellow-div{
    background-color: #FFD700;
    padding: 0;
    height: 8px;
}
.fixed-top{
    padding: 0;
}
.nav{
    padding: 5px;
    column-gap: 30px;
}
.btn-primary{
    background-color: #ffc800;
    color: black;
    border: none;
    font-weight: bold;
}
.btn-secondary{
    background-color: #ffffff00;
    color: black;
    border: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #ffc80034;
    color: black;
    border: none;
    font-weight: bold;
}