.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.background-image {
    position: fixed;
    transform: rotate(325deg);
    left: -140px;
    top: 200px;
    z-index: 1;
}
h1{
    font-size: 35px;
    font-weight: bold;}
h2{
    margin: 0;
}
h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
h4{
    font-size: 18px;
}
.container{
    top: 350px;
    z-index: 2;
    position: relative;
}