.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.background-image {
    position: fixed;
    transform: rotate(325deg);
    left: -140px;
    top: 200px;
    z-index: 1;
}
body{
    
    overflow-x: hidden;
}

footer{
    background-color: #343434;
    color: white;
    align-items: center;
    padding: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    margin: 0;
    right: 0;
    box-sizing: content-box;
}
footer p{
    font-size: 14px;
    font-weight: lighter;
}
.footer-links{
    border-left:2px solid white;
}
.footer-links a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.footer-links a:hover{
    text-decoration:underline;
}
#return{
    padding: 0 1%;
}
#header {
    background-color: #343434;
    color: white;
    text-align: center;
    padding: 0;
    border-bottom: 7px solid #ffc800;
}

#header .navbar-brand {
    color: white;
}

#header-2 {
    background-color: rgba(255, 255, 255, 0.821);
    padding: 0 2%;
    box-shadow: 0px 0px 7px #3434345d;
    z-index: 3;
}

#header-3 {
    width: 100%;
    border-bottom: 3px solid #0c0c0c;
    background-color: rgb(255, 255, 255);
}

#header-4 {
    background-color: rgba(255, 255, 255, 0.538);
    box-shadow: 0px 0px 7px #3434345d;
    z-index: 2;
}

.nav-tabs {
    border: 0;
}

.fixed-top {
    padding: 0;
}

.nav {
    padding: 5px;
    column-gap: 30px;
}

.btn-primary {
    background-color: #ffc800;
    color: black;
    border: none;
    font-weight: bold;
}

.btn-secondary {
    background-color: #ffffff00;
    color: black;
    border: none;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #ffc80034;
    color: black;
    border: none;
    font-weight: bold;
}
h1 {
    font-size: 35px;
    font-weight: bold;
}

h2 {
    margin: 0;
    font-size: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-size: 12px;
    font-weight: bold;
}

.container {
    z-index: 2;
    position: relative;
}

.form-check-input[type=radio] {
    border: 3px solid #000000;
}

.form-check-label {
    font-weight: bold;
}
.navbar-hidden {
    margin-left: 2%;
    font-weight: bold;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-hidden {
        display: none;
    }
}
:target::before {
    content: "";
    display: block;
    height: 250px; /* aquí la altura de la cabecera fija*/
    margin: -250px 0 0; /* altura negativa de la cabecera fija */
}